
/* shared style */
.display-flex{
    display: flex;
}

/* dark-02 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1) ;
}

/* heder style */


/* navbar style */
.navbar{
    justify-content: space-between;
}

.nave-item{
    list-style: none;
    margin-right: 30px;
}
.nave-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}