
/* shared style */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
/* dark-02 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1) ;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 18px 22px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
/* heder style */


/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.nave-item{
    list-style: none;
    margin-right: 30px;
}
.nave-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;

}

.banner-image{
    width: 100%;
}

/* team style */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;

}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 80px;
}
.our-features{
   margin-left: 100px;
   max-width: 530px;
}
#quick-list{
    font-weight: 500;
}
/* Featcures style */
#Featcures-section-title{
    border-left: 5px solid #FF900E;
    padding: 10px;
}
.Featcures{
    gap: 120px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgb(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-weight: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-architect img{
    width: 100%;
}
/* Some Facts styl */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
/* Our Sponsored style */
.Sponsored-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.Sponsored-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.Sponsored-companies img{
    filter: grayscale(100%);
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nave-link,
    .Featcures, 
    .teams{
        flex-direction: column;
    }
    
    .team-img-container, 
    .facts-container, 
    .Sponsored-companies{
        grid-template-columns: 1fr;
    }
    .facts-container {
        justify-items: center;
        gap: 24px;
    }
    .Sponsored-companies{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 20px;
    }
    .our-features{
        margin-left: 20px;
    
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
/* medium six device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar, 
    .nave-link, 
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 20px auto;
    }
    .Sponsored-companies, .facts-container{
        grid-template-columns: 2, 1fr;
        gap: 50px;
        justify-items: center;
    }
    .team-img-container, 
    .facts-container, 
    .Sponsored-companies{
        grid-template-columns: repeat(2, 1fr);
    }
    /* .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    } */
    
}






